<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Prochains passages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="station">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <p>
            {{ station.nom }} ,direction : {{ station.direction }}
          </p>

        </ion-item>
      </ion-card-header>
      <div *ngFor="let passage of station.prochainPassage">
        <ion-card-content>
          <p> Prochain passage à : {{passage | date: 'HH:mm'}}</p>
        </ion-card-content>
      </div>
    </ion-card>

  </div>
</ion-content>
