<ion-header>
  <ion-navbar>
    <div *ngIf="station">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title>{{ station.nom }}</ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div *ngIf="station">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <p>
            Direction : {{ station.direction }}
          </p>

        </ion-item>
      </ion-card-header>
      <div *ngFor="let passage of station.prochainPassage">
        <ion-card-content>
          <p> Prochain passage à : {{passage | date: 'HH:mm'}}</p>
        </ion-card-content>
      </div>
    </ion-card>

  </div>


</ion-content>
