<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>parseSchedules</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-item>
    <ion-label>Stations de tram  </ion-label>
    <ion-select [(ngModel)]="tramways.nom" (ionChange)="tramSelected($event)">
      <ion-option *ngFor="let tramway of tramways" value={{tramway.id_navitia}}>{{tramway.nom}}</ion-option>
    </ion-select>
  </ion-item>

  <div *ngFor="let station of stations">

    <ion-card>
      <ion-card-header>
        <ion-item>
          <p>Direction : {{ station.direction }}</p>

        </ion-item>
      </ion-card-header>
      <div *ngFor="let passage of station.prochainPassage">
        <ion-card-content>
          <p> Prochain passage à : {{passage | date: 'HH:mm'}}</p>
        </ion-card-content>
      </div>

    </ion-card>

  </div>

</ion-content>
